.tableau thead {
  display: flex;
  flex-direction: column;
}
.tableau thead tr {
  display: flex;
  justify-content: space-between;
  border: white solid 2px;
  width: 100%;
}
.tableau thead tr td {
  display: flex;
  width: 50%;
}
.plante-poison {
  background-image: linear-gradient(135deg, #92ed6d 30%, #b368ed 70%);
  /*background-color: rgb(144, 238, 144);*/
  border-radius: 25px;
}
figure p {
  color: black;
}
figcaption {
  color: black;
  font-size: x-large;
}
figure img {
  width: 250px;
}
.feu {
  background-image: linear-gradient(135deg, #ffab52 30%, #df6400 70%);
  border-radius: 25px;
}
